extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/flock/event", method="post")
    input(type="submit")
  a(href="https://api.flock.co/v1/chat.sendMessage?to=u:qq4q2w4q4vziqe24&text=hello&token=6e88dc94-48d8-4c19-b6f0-6a184a13e1fd")
    | https://api.flock.co/v1/chat.sendMessage?to=u:qq4q2w4q4vziqe24&text=hello&token=6e88dc94-48d8-4c19-b6f0-6a184a13e1fd
