doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//web.flock.co/client_base/host/browser/style.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='///cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.min.js')
    script(src='/javascripts/flock.js')
  body
    block content
